BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: Never
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpacesBeforeTrailingComments: 2
