* text=auto eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.exe binary
*.dll binary
*.lib binary
*.obj binary

*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
*.manifest text eol=lf
*.txt text eol=lf
