* text=auto eol=crlf

.gitattributes text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.gz binary
*.tar.gz binary
*.tgz binary
*.zip binary
*.exe binary
*.dll binary
*.lib binary
*.obj binary

*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
*.sh text eol=lf
*.dict text eol=lf
*.options text eol=lf
*.manifest text eol=lf
*.txt text eol=lf

third_party/bzip2/CHANGES text eol=lf
third_party/bzip2/LICENSE text eol=lf
third_party/bzip2/README text eol=lf

third_party/xz_embedded/AUTHORS text eol=lf
third_party/xz_embedded/COPYING text eol=lf
third_party/xz_embedded/README text eol=lf
